# Miscellaneous
temp
__pycache__/
DS_Store/

# Dataset and Ground Truth
7SCENES*
TA_Golden

# Point Clouds
bonus
/test/*
test_dust/
test_dust_transformer/
predict/

# Poses
predict_pose

# Transformer
checkpoints*
